/*
Script created by SQL Compare version 7.1.0 from Red Gate Software Ltd at 9/16/2009 4:07:22 PM
Run this script on (local)\sqlexpress.CodeCampServerVersioned to make it the same as (local)\sqlexpress.CodeCampServer
Please back up your database before running this script
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Altering [dbo].[Conferences]'
GO
ALTER TABLE [dbo].[Conferences] DROP
COLUMN [ConferenceKey],
COLUMN [Name],
COLUMN [Description],
COLUMN [StartDate],
COLUMN [EndDate],
COLUMN [LocationName],
COLUMN [Address],
COLUMN [City],
COLUMN [Region],
COLUMN [PostalCode],
COLUMN [TimeZone],
COLUMN [LocationUrl]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Conferences__239E4DCF] on [dbo].[Conferences]'
GO
ALTER TABLE [dbo].[Conferences] ADD CONSTRAINT [PK__Conferences__239E4DCF] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[Events]'
GO
CREATE TABLE [dbo].[Events]
(
[Id] [uniqueidentifier] NOT NULL,
[EventKey] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Name] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Description] [nvarchar] (300) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[StartDate] [datetime] NULL,
[EndDate] [datetime] NULL,
[LocationName] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[LocationUrl] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Address] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[City] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Region] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PostalCode] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[TimeZone] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserGroupID] [uniqueidentifier] NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Events__21B6055D] on [dbo].[Events]'
GO
ALTER TABLE [dbo].[Events] ADD CONSTRAINT [PK__Events__21B6055D] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[Meetings]'
GO
CREATE TABLE [dbo].[Meetings]
(
[Id] [uniqueidentifier] NOT NULL,
[Topic] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Summary] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SpeakerName] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SpeakerBio] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SpeakerUrl] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Meetings__25869641] on [dbo].[Meetings]'
GO
ALTER TABLE [dbo].[Meetings] ADD CONSTRAINT [PK__Meetings__25869641] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Attendees__0DAF0CB0] on [dbo].[Attendees]'
GO
ALTER TABLE [dbo].[Attendees] ADD CONSTRAINT [PK__Attendees__0DAF0CB0] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Proposals__173876EA] on [dbo].[Proposals]'
GO
ALTER TABLE [dbo].[Proposals] ADD CONSTRAINT [PK__Proposals__173876EA] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__RssFeeds__1FCDBCEB] on [dbo].[RssFeeds]'
GO
ALTER TABLE [dbo].[RssFeeds] ADD CONSTRAINT [PK__RssFeeds__1FCDBCEB] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Sessions__15502E78] on [dbo].[Sessions]'
GO
ALTER TABLE [dbo].[Sessions] ADD CONSTRAINT [PK__Sessions__15502E78] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Speakers__1367E606] on [dbo].[Speakers]'
GO
ALTER TABLE [dbo].[Speakers] ADD CONSTRAINT [PK__Speakers__1367E606] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Sponsors__1DE57479] on [dbo].[Sponsors]'
GO
ALTER TABLE [dbo].[Sponsors] ADD CONSTRAINT [PK__Sponsors__1DE57479] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__TimeSlots__117F9D94] on [dbo].[TimeSlots]'
GO
ALTER TABLE [dbo].[TimeSlots] ADD CONSTRAINT [PK__TimeSlots__117F9D94] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Tracks__0F975522] on [dbo].[Tracks]'
GO
ALTER TABLE [dbo].[Tracks] ADD CONSTRAINT [PK__Tracks__0F975522] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__UserGroups__1920BF5C] on [dbo].[UserGroups]'
GO
ALTER TABLE [dbo].[UserGroups] ADD CONSTRAINT [PK__UserGroups__1920BF5C] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Users__0BC6C43E] on [dbo].[Users]'
GO
ALTER TABLE [dbo].[Users] ADD CONSTRAINT [PK__Users__0BC6C43E] PRIMARY KEY CLUSTERED ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Attendees]'
GO
ALTER TABLE [dbo].[Attendees] ADD
CONSTRAINT [FKD42E632F94606D4B] FOREIGN KEY ([ConferenceId]) REFERENCES [dbo].[Conferences] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Conferences]'
GO
ALTER TABLE [dbo].[Conferences] ADD
CONSTRAINT [FKD9EF8213762B273C] FOREIGN KEY ([Id]) REFERENCES [dbo].[Events] ([Id]),
CONSTRAINT [FKD9EF8213BE00729F] FOREIGN KEY ([UserGroupID]) REFERENCES [dbo].[UserGroups] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Meetings]'
GO
ALTER TABLE [dbo].[Meetings] ADD
CONSTRAINT [FK554D0804762B273C] FOREIGN KEY ([Id]) REFERENCES [dbo].[Events] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Events]'
GO
ALTER TABLE [dbo].[Events] ADD
CONSTRAINT [FKA3707DF6BE00729F] FOREIGN KEY ([UserGroupID]) REFERENCES [dbo].[UserGroups] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Proposals]'
GO
ALTER TABLE [dbo].[Proposals] ADD
CONSTRAINT [FK52DEDB7E2A35CA12] FOREIGN KEY ([Track]) REFERENCES [dbo].[Tracks] ([Id]),
CONSTRAINT [FK52DEDB7E72A1374F] FOREIGN KEY ([Conference]) REFERENCES [dbo].[Conferences] ([Id]),
CONSTRAINT [FK52DEDB7ED8A19CE0] FOREIGN KEY ([Submitter]) REFERENCES [dbo].[Users] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Sessions]'
GO
ALTER TABLE [dbo].[Sessions] ADD
CONSTRAINT [FK8D5E3E372A35CA12] FOREIGN KEY ([Track]) REFERENCES [dbo].[Tracks] ([Id]),
CONSTRAINT [FK8D5E3E3762747104] FOREIGN KEY ([TimeSlot]) REFERENCES [dbo].[TimeSlots] ([Id]),
CONSTRAINT [FK8D5E3E3772A1374F] FOREIGN KEY ([Conference]) REFERENCES [dbo].[Conferences] ([Id]),
CONSTRAINT [FK8D5E3E37FC26EAD9] FOREIGN KEY ([Speaker]) REFERENCES [dbo].[Speakers] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Speakers]'
GO
ALTER TABLE [dbo].[Speakers] ADD
CONSTRAINT [FK73A6997394606D4B] FOREIGN KEY ([ConferenceID]) REFERENCES [dbo].[Conferences] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[TimeSlots]'
GO
ALTER TABLE [dbo].[TimeSlots] ADD
CONSTRAINT [FK6CE32DF72A1374F] FOREIGN KEY ([Conference]) REFERENCES [dbo].[Conferences] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Tracks]'
GO
ALTER TABLE [dbo].[Tracks] ADD
CONSTRAINT [FK605DAD4072A1374F] FOREIGN KEY ([Conference]) REFERENCES [dbo].[Conferences] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[UserGroupAdminUsers]'
GO
ALTER TABLE [dbo].[UserGroupAdminUsers] ADD
CONSTRAINT [FKE14A911B8E679565] FOREIGN KEY ([UserID]) REFERENCES [dbo].[Users] ([Id]),
CONSTRAINT [FKE14A911BBE00729F] FOREIGN KEY ([UserGroupId]) REFERENCES [dbo].[UserGroups] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[UserGroupRssFeeds]'
GO
ALTER TABLE [dbo].[UserGroupRssFeeds] ADD
CONSTRAINT [FK4889B625BE00729F] FOREIGN KEY ([UserGroupId]) REFERENCES [dbo].[UserGroups] ([Id]),
CONSTRAINT [FK4889B625EA60DA6A] FOREIGN KEY ([RssFeedID]) REFERENCES [dbo].[RssFeeds] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[UserGroupSponsors]'
GO
ALTER TABLE [dbo].[UserGroupSponsors] ADD
CONSTRAINT [FK19136CC4BE00729F] FOREIGN KEY ([UserGroupId]) REFERENCES [dbo].[UserGroups] ([Id]),
CONSTRAINT [FK19136CC4C45CFC28] FOREIGN KEY ([SponsorID]) REFERENCES [dbo].[Sponsors] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
